.credits-container {
    text-align: center;
    margin-top: 3%;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.emblem, .react-logo, .axios-logo {
    width: 100px;
    height: auto;
    margin: 0 20px;
    transition: transform 0.5s ease-in-out;
}

.emblem:hover, .react-logo:hover, .axios-logo:hover{
    transform: scale(1.1);
}

.axios-logo {
    margin-top: 20%;
}