.follow-button {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

.follow-button:hover {
    background-color: #388e3c;
}

.follow-button:active {
    transform: translateY(2px);
}
.list-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.followers-list, .following-list {
    height: calc(100vh - 300px);
    overflow: auto;
}