.messengers-container {
    background-color: #f0f0f0;
    min-height: 100vh;
}

.messengers-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 80vh;
}

.users-list {
    flex: 1;
    max-width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.users-list h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.users-list ul {
    list-style-type: none;
    padding: 0;
}

.users-list li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.users-list li:hover {
    background-color: #e0e0e0;
}

.chat-container {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80vw;
    width: 100%;
}


.chat-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.messages-list {
    max-height: 65vh;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    word-break: break-word;
}

.sent {
    background-color: #dcf8c6;
    text-align: right;
}

.received {
    background-color: #f3f3f3;
    text-align: left;
}

.message-input {
    margin-top: 20px;
}

.message-input input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.message-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #0056b3;
}

.timestamp {
    font-size: 0.8rem;
    color: #777;
    margin-top: 0.2rem;
}
